.santorini-god {
    width: 150px;
    padding: 5px;
}

.santorini-god-img {
    width: 140px;
    height: 191px;
}
.santorini-god-name {
    margin: 2px;
    font-family: fantasy;
    font-size: large;
    font-weight: bold;
}
.santorini-god-title {
    margin: 2px;
}